<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <style>
        .page_calc {
            background: #497e49;
        }
        h1 {
            color: #fff;
        }
        label {
            color: #fff;
            font-size: 25px;
        }
        input, select {
            width:  200px;
            height: 30px;
            border-radius: 10px 10px 10px 10px;
        }
        .but {
            background: #fac91b;
        }
    </style>


</head>

<body>

<div class="page_calc">

    <h1><center>CREDIT CALCULATOR</h1>

    <br>

    <form th:method="POST" th:action="@{/calculator/calculations}" th:object="${calculation}">

        <label for="creditAmount">Credit amount, руб.</label>
        <input type="text" th:field="*{creditAmount}" id="creditAmount"/>
        <div style="color:red" th:if="${#fields.hasErrors('creditAmount')}" th:errors="*{creditAmount}">CreditAmount Error</div>

        <br/>
        <br/>
        <br/>

        <label for="percentRate">Percent rate, % year</label>
        <input type="text" th:field="*{percentRate}" id="percentRate"/>
        <div style="color:red" th:if="${#fields.hasErrors('percentRate')}" th:errors="*{percentRate}">PercentRate Error</div>

        <br/>
        <br/>
        <br/>

        <label for="creditTerm">Credit term, months</label>
        <input type="text" th:field="*{creditTerm}" id="creditTerm"/>
        <div style="color:red" th:if="${#fields.hasErrors('creditTerm')}" th:errors="*{creditTerm}">CreditTerm Error</div>

        <br/>
        <br/>
        <br/>

        <label for="currentDate">Date</label>
        <input type="date" th:field="*{currentDate}" id="currentDate"/>

        <br/>
        <br/>
        <br/>

        <label for="repaymentType">Repayment type</label>
        <select id="repaymentType" name="repaymentType">
            <option value="Annuity">Annuity</option>
            <option value="Differentiated">Differentiated</option>
        </select>

        <br/>
        <br/>
        <br/>

        <input class="but" type="submit" value="Payment schedule"/>

    </form>

</div>



</body>
</html>